* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #5d84a3;
}

.juliancho {
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: black;
    z-index: 10;
}


.background {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-size: 200% 200%;
    animation: gradient 3s infinite;
    
}


.wrapper {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    background-color: rgb(36, 47, 65);
    border-radius: 10px;
    box-shadow: 8px 8px rgba(0, 0, 30, 1);
    box-sizing: border-box;
    animation: gameEnter 0.5s forwards;
}

@keyframes gameEnter {
    0% {
        transform: translate(0, +100vh);
    }
    100% {
        transform: translate(0, 0);
    }
}

.game-details {
    color: #b8c6dc;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 26px;
    display: flex;
    justify-content: space-between;
    height: 10%;
    min-height: 60px;
}

.play-board {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    background-color: #151d2b;
    display: grid;
}

.shakeDeath{
    animation: shakeDeath 0.3s ease-out;
}

@keyframes shakeDeath {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(10px, 10px);
    }
    50% {
        transform: translate(-7px, -7px);
    }
    75% {
        transform: translate(4px, 4px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.play-board .comida {
    background-color: red;
    border-radius: 40%;
}

.play-board .serpiente {
    background-color: rgb(17, 190, 60);
}

.play-board .cuadricula-black {
    background-color: #1a2333;
}

.shade {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: #00000069;
    z-index: 4;
}

.shade-appearing {
    animation: shadeTransition 0.5s forwards;
}

@keyframes shadeTransition {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.game-over {
    display: flex;
    position: fixed;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 30%;
    min-width: 400px;
    background-color: #4b99b5;

    translate: 0 100vh;

    padding: 20px;
    /* box-sizing: border-box; */
    border-radius: 20px;
    box-shadow: 8px 8px rgba(0, 0, 30, 1);
    z-index: 5;
}

.gameoverTitle {
    color: #151d2b;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.buttons {
    display: flex;
    width: 100%;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.button {
    color: #151d2b;
    font-weight: 600;
    font-size: 20px;
    width: 180px;
    height: 50px;
    flex: 0 1 auto;
    border: none;
    border-radius: 10px;
    transition: all 0.1s ease-out;
}

.button:hover {
    width: 185px;
    height: 55px;
    box-shadow: 3px 3px rgba(0, 0, 30, 1);
    box-sizing: border-box;
}

.continue:hover {
    background-color: rgb(102, 216, 98);
}

.leave:hover {
    background-color: rgb(218, 79, 79);
}

.movimiento-gameover {
    animation: moverGameOver 0.5s ease-out forwards;
}

@keyframes moverGameOver {
    0% {
        transform: translateY(0);
    }

    80% {
        transform: translateY(-105vh);
    }

    100% {
        transform: translateY(-100vh);
    }
}